.container {
    width: auto;
    padding-top: 15px;
}

.blacklistPanel {
    background: white;
    color: black;
    border-top: 1px solid #ccc;
}

.blacklistPanel.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.input-group {
    margin-bottom: 15px;
}

#result {
    min-height: 60px;
    max-height: 300px;
    overflow-y: auto;
}